<form nz-form [formGroup]="employeeForm" (submit)="onSubmit()">
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="10">
            <nz-form-item>
                <nz-form-label>
                    Name
                </nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="Enter name" formControlName="name" [ngClass]="isSubmit && employeeForm.get('name')?.errors ? 'err':''">
                    <div class="error" *ngIf="isSubmit">
                        <span *ngIf="employeeForm.get('name')?.errors?.required">
                            Tên không được để trống
                        </span>
                        <span *ngIf="employeeForm.get('name')?.errors?.minlength">
                            Nhập tên lớn hơn 5 ký tự
                        </span>
                        <span *ngIf="employeeForm.get('name')?.errors?.maxlength">
                            Nhập tên nhỏ hơn 51 ký tự
                        </span>
                    </div>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="10">
            <nz-form-item>
                <nz-form-label>
                    Mail
                </nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="Enter mail" formControlName="mail" [ngClass]="isSubmit && employeeForm.get('mail')?.errors ? 'err':''">
                    <div class="error" *ngIf="isSubmit">
                        <span *ngIf="employeeForm.get('mail')?.errors?.required">
                            Email không được để trống
                        </span>
                        <span *ngIf="employeeForm.get('mail')?.errors?.maxlength">
                            Nhập email không quá 100 ký tự
                        </span>
                        <span *ngIf="employeeForm.get('mail')?.errors?.pattern">
                            Mail không đúng định dạng
                        </span>
                    </div>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="10">
            <nz-form-item>
                <nz-form-label>
                    Address
                </nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="Enter address" formControlName="address" [ngClass]="isSubmit && employeeForm.get('address')?.errors ? 'err':''">
                    <div class="error" *ngIf="isSubmit">
                        <span *ngIf="employeeForm.get('address')?.errors?.required">
                            Address không được để trống
                        </span>
                        <span *ngIf="employeeForm.get('address')?.errors?.maxlength">
                            Nhập address không quá 500 ký tự
                        </span>
                    </div>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="10">
            <nz-form-item>
                <nz-form-label>
                    Phone
                </nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="Enter phone" formControlName="phone" [ngClass]="isSubmit && employeeForm.get('phone')?.errors ? 'err':''">
                    <div class="error" *ngIf="isSubmit">
                        <span *ngIf="employeeForm.get('phone')?.errors?.required">
                            Số điện thoại không được để trống
                        </span>
                        <span *ngIf="employeeForm.get('phone')?.errors?.pattern">
                            Số điện thoại không chính xác
                        </span>
                    </div>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="10">
            <nz-form-item>
                <nz-form-label>
                    Gender
                </nz-form-label>
                <nz-form-control>
                      <input type="radio" [value]="true" formControlName="gender" style="margin-left: 20px;"> Male
                      <input type="radio" [value]="false" formControlName="gender" style="margin-left: 20px;"> Female
                      <div class="error" *ngIf="isSubmit">
                        <span *ngIf="employeeForm.get('gender')?.errors?.required">
                            Chọn giới tính
                        </span>
                    </div>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <hr>
    <button nz-button nzType="primary" type="submit">Save</button>
    <button style="margin-left: 10px;" nz-button nzType="primary" nzDanger routerLink="/welcome">Cancel</button>
</form>


