.content {
    padding-top: 0;
}
.content-top {
    height: 220px;
    background-color: #12162d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content-title {
    width: 80%;
    margin: 0 auto;
}
.content-title a{
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 26px;
}

.detail-banner img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.content-block {
    font-size: 18.4px;
    color: rgba(0, 0, 0, 0.9) !important;
    line-height: 1.6;
    font-family: Nunito,Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
}

.lItem{
    padding-left: 50px;
}

.lItem li{
    padding-left: 20px;
}

.more-top {
    padding: 10px 0;
    position: relative;
}

.more-top h4{
    margin: 0;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.2;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.more-top h4::after {
    content: '';
    height: 2px;
    -webkit-box-flex: 1;
    -webkit-box-ordinal-group: 2;
    margin-left: 0.6em;
    border-top: 2px solid rgba(169, 36, 36, 0.05);

}


